{% extends 'core/base.html' %}  

{% block title %}Contacto{% endblock %}

{% block background%}{% load static %}{% static 'core/img/contact-b.jpg' %}{% endblock %}

{% block headers %}
       <h1>Contacto</h1>
       <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>"Quien no vive para servir, no sirve para vivir"</p>
          <br>
          <p><b>Teléfono:</b> +593 96 841 7084</p>
          <p><b>Correo:</b> ypinargote9259@utm.edu.ec <p>
        </div>
      </div>
    </div>
{% endblock %}
